@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card{
    width: 420px;
    background-color: transparent;
    border: 0.5px solid #c6cbd1;
    backdrop-filter: blur(10px);
    color: white;
    border-radius: 10px;
    padding: 30px;

    @media (max-width: 500px) {
        width: 320px;
        padding: 20px;

        h1 {
            font-size: 1.5rem;
        }
    }
}

.card h1{
    font-size: 2.5rem;
    font-weight: 600;
    margin: 20px 0 10px 0;
    text-align: center;
}

.card .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 40px 0;
}

.card .input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.2rem;
    color: #f1f2f3;
    font-weight: 500;
    padding: 20px 45px 20px 40px;
    border: 2px solid #c6cbd1;
    border-radius: 40px;
}

.input-box input::placeholder{
    color: #c6cbd1;
    opacity: 0.5;
    font-size: medium;
}

.input-box .icon{
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: #c6cbd1;
}

.input-box .icon-eye{
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: #c6cbd1;
    cursor: pointer;
}

.remember-forgot{
    font-size: 0.9rem;
    color: #c6cbd1;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.remember-forgot label input{
    margin-right: 3px;
}

.remember-forgot a{
    color: #c6cbd1;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.btn{
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    background-color: #9d44ad;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 10px 0;
    cursor: pointer;
}

.btn:hover{
    background-color: #f1f2f3;
    color: #9d44ad;
    border: 2px solid #9d44ad;
}

.register-link{
    font-size: 0.9rem;
    color: #c6cbd1;
    font-weight: 500;
    text-align: center;
}

.register-link a{
    color: #c6cbd1;
    text-decoration: none;
    font-weight: 600;
}

.register-link a:hover{
    text-decoration: underline;
}

.sidebar{
    min-height: 100vh;
}

/* Sidebar.css */
.sidebar {
    transition: width 0.3s ease; /* Smooth width transition */
    overflow: hidden; /* Prevent overflow issues */
  }
  
  .sidebar a, .sidebar ul {
    transition: opacity 0.3s ease; /* Smooth transition for opacity */
  }
  
  .sidebar.collapsed a, .sidebar.collapsed ul {
    opacity: 0; /* Hide text when collapsed */
  }
  
  .sidebar.expanded a, .sidebar.expanded ul {
    opacity: 1; /* Show text when expanded */
  }
  